/*
    Site Name: Rewardrobe
    Description: rewardStyle Hackathon 2013
    Authors: Jon Bellah, Gabe Marshall, David Gallegos, Brenna Schell

    Version: 1.0.0

*/

/* Table of Contents
 *
 * Imports
 * Resets
 * Global
 * Header
 * Header Right
 * Navigation
 * Breadcrumbs
 * Footer
 *
 */


/* Imports
------------------------------------------------------------ */
 @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
 @import url(http://fonts.googleapis.com/css?family=Droid+Serif);

@font-face {
  font-family: 'entypo-social';
  src: url('../lib/fonts/entypo-social.eot');
  src: url('../lib/fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
       url('../lib/fonts/entypo-social.woff') format('woff'),
       url('../lib/fonts/entypo-social.ttf') format('truetype'),
       url('../lib/fonts/entypo-social.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}



/* Resets
------------------------------------------------------------ */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

::selection {
    background: #0F714B;
    color: #fff;
}

/* Global
------------------------------------------------------------ */
* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

/*Opera Fix for Sticky Footer*/
body:before {
    content:"";
    float:left;
    height:100%;
    margin-top:-32767px;
    width:0;
}

#page {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 300px;
}

.wrap {
    margin: 0 auto;
    width: 1180px;
}

.clear {
    clear: both;
}

/* Header
------------------------------------------------------------ */
.site-header {
    background: #fff;
    border-top: 2px solid #0F714B;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    height: 100px;
    position: relative;
    z-index: 99;
}

.logo {
    background: #0F714B;
    float: left;
    height: 98px;
    width: 140px;
}

/* Header Right
------------------------------------------------------------ */
.header-right {
    width: 1000px;
    float: right;
}

.user-admin {
    height: 27px;
    margin-top: 15px;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
}

.user-admin ul {
    float: right;
    font-family: 'Lato', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
}

.user-admin li {
    float: left;
    list-style: none;
    margin: 0 0.75rem;
}

.user-admin li a{
    color: #333333;
}

/* Navigation
------------------------------------------------------------ */
.site-nav {
    margin-top: 18px;
}

.site-nav ul {
    float: right;
    font-family: 'Droid Serif', serif;
    font-size: 1.1rem;
    font-weight: 300;
}

.site-nav li {
    float: left;
    margin: 0 0.75rem;
}

.site-nav li a {
    color: #999;
    text-decoration: none;
}


/* Breadcrumbs
------------------------------------------------------------ */
.breadcrumbs {
    background: #f4f4f4;
    border-bottom: 1px solid #eaeaea;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    height: 45px;
    margin: 0 0 2rem;
    padding: 15px;
}

.breadcrumbs a {
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    color: #333;
    text-decoration: none;
}

/* Content
------------------------------------------------------------ */
.content {
    width: 960px;
    float: right;
}


/* Sidebar
------------------------------------------------------------ */
.sidebar {
    width: 200px;
    float: left;
}

.sidebar-widget {
    margin: 0 0 1.5rem;
}

.sidebar-widget h3 {
    font-family: 'Droid Serif', serif;
    font-size: 1rem;
    color: #777;
    border-bottom: 1px solid #eaeaea;
    padding: 0;
    margin: 0 0 0.75rem;
}

/* Footer
------------------------------------------------------------ */
.site-footer {
    background: #f4f4f4;
    border-top: 1px solid #eaeaea;
    clear: both;
    height: 300px;
    font-family: 'Lato';
    font-weight: 300;
    margin-top: -300px;
    position: relative;
}

.site-footer ul {
    margin: 0;
}

.footer-widget-1 {
    float: left;
    width: 400px;
}

.footer-widget-1 input[type=email] {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 18px 13px;
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.02);
    float:left;
}

.footer-widget-1 input[type=submit] {
    background: #289860;
    border: 1px solid #337252;
    color: #fff;
    float: right;
    font-family: 'lato';
    font-size: 0.95rem;
    font-weight: 300;
    padding: 7px 14px;
    width: 75px;
}

.footer-widget-2 {
    float: left;
    width: 215px;
    margin: 0 40px;
}

.footer-widget-3 {
    float: left;
    width: 215px;
    margin: 0 40px 0 0;
}

.footer-widget-4 {
    width: 215px;
    float: left;
}

.footer-widget-4 a:hover {
    text-decoration: none;
}

.footer-widgets {
    height: 225px;
    margin-top: 40px;
    max-height: 225px;
}

.footer-widgets h3 {
    border-bottom: 1px solid #eaeaea;
    color: #555;
    font-family: 'Droid Serif', serif;
    font-size: 1.15rem;
    padding: 0 0 0.25rem;
    margin: 0 0 0.8rem;
}

.footer-widget-4 h3 {
    margin: 0 0 1.2rem;
}

.footer-widgets .widget li {
    list-style: none;
    margin: 0 0 0.45rem;
}

.footer-creds {
    width: 100%;
    background: #333;
    color: #fff;
    height: 35px;
}

.copyright {
    color: rgba(255,255,255,0.25);
    float: left;
    font-family: 'Lato', sans-serif;
    font-size: 0.75rem;
    padding-top: 11px;
    width: 50%;
}

/* Icons
------------------------------------------------------------ */
.icon {
    color: #888;
    font-family: 'entypo-social';
    font-size: 60px;
    transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    text-decoration: none;
    -webkit-transition: all 0.2s linear;
}

.icon.facebook:hover {
    color: #3b5998;
}

.icon.twitter:hover {
    color: #00bdf5;
}

.icon.pinterest:hover {
    color: #cc2328;
}

.icon.tumblr:hover {
    color: #375570;
}

/* Modal
------------------------------------------------------------ */
.modal {
    top: 10%;
}

.modal-header {
    background: #0F714B;
    border-bottom: 1px solid #1E5540;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Droid Serif', serif;
    padding: 20px;
}

.modal-body img {
    max-width: 50%;
    height: auto;
}

.product-details {
    float: right;
    width: 49%;
}

.crop {
    width: 300px;
    height: 300px;
    background-position: -50px -60px fixed;
}

/* Isotope
------------------------------------------------------------ */
#container {
    clear: both;
}

.container {
    margin-bottom: 3rem;
    width: 960px;
}

.container img {
    max-width: 680px;
}


ul#filters {
    border: 0;
    list-style: none;
    margin: 0;
}

ul#filters li {
    display: inline;
    margin: 0 -1px;
}

ul#filters li:nth-child(1) {
    margin: 0 -4px;
}

ul#filters li a {
    background: #2d3538;
    border: 0;
    color: #fff;
    font-size: 0.95rem;
    padding: 8px 16px;
    padding: 0.6rem 1.1rem;
    text-decoration: none;
    transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

ul#filters li a:hover {
    background: #77cc6d;
}

.isotope-item {
    border: 1px solid #eaeaea;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.isotope-item {
    z-index: 2;
}

.isotope-item:hover {
    transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    width: 320px;
    height: 320px;
    margin: 0;
}


.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}