<!-- Start Article -->
<article class="feed-article">
	
	<aside class="article-featured-image">
		<img src="../images/feature-1.png">
	</aside>

	<section class="article-content">
		<h2>Spring Plaid</h2>

		<p class="post-meta">by <a href="#">Merritt Beck</a></p>

		<p>
			How amazing are these two purchases I made last weekend? This Equipment blouse and this Theory leather jacket (both on sale, by the way) are my two new favorites – and really, can you blame me? The color scheme screams spring and the jacket is not too heavy, so I definitely plan on taking it on my Paris trip in May. I still can’t get over this combo. Too good. Anyway, they match my Kelly Wynne clutch to a T!<br /><br />

			<a href="#" class="read-more">Read More...</a>
		</p>
	</section>

</article>
<!-- End Article -->

<!-- Start Article -->
<article class="feed-article">
	
	<aside class="article-featured-image">
		<img src="../images/feature-2.png">
	</aside>

	<section class="article-content">
		<h2>Tunnel Vision</h2>

		<p class="post-meta">by <a href="#">Rumi Neely</a></p>

		<p>
			Thank you Ben aka the most unlikely DSLR handler I personally know for taking these photos this past weekend in Hancock Park. I love how they came out! I wore the ideal blank slate of a jumpsuit with Elizabeth and James t-straps. I probably should have taken a shot of his shoes too because they were BLINDING and they had some sort of story associated with them about being in scarce supply in a global context. Next time.<br /><br />

			<a href="#" class="read-more">Read More...</a>
		</p>
	</section>

</article>
<!-- End Article -->

<!-- Start Article -->
<article class="feed-article">
	
	<aside class="article-featured-image">
		<img src="../images/feature-3.png">
	</aside>

	<section class="article-content">
		<h2>Dip Dyed</h2>

		<p class="post-meta">by <a href="#">Merritt Beck</a></p>

		<p>
			Chambray is one of my favorite fabrics to work with in the spring/summer. I love pairing it with printed shorts and sandals, but also with white skinnies and heels for a relaxed outfit for a night out. I own both a dark and a light-colored chambray shirt, but I fell head over heels when I saw this dip-dyed version at Anthropologie. It will look super fashion forward with other denim pieces, but I think it’ll jazz up my white jeans look a bit too. It definitely evokes a “cool girl” vibe that I wish I naturally possessed, but you know better than that… I think I need this shirt. Thoughts? Get it here.<br /><br />

			<a href="#" class="read-more">Read More...</a>
		</p>
	</section>

</article>
<!-- End Article -->

<!-- Start Article -->
<article class="feed-article">
	
	<aside class="article-featured-image">
		<img src="../images/feature-4.png">
	</aside>

	<section class="article-content">
		<h2>Styled: Favorite Fireplaces</h2>

		<p class="post-meta">by <a href="#">Meg Jones</a></p>

		<p>
			I've been on a bit of an interior kick lately and can't get enough of these amazing fireplaces. Check out my pinterest board for more inspiration. <br /><br /><br /><br />

			<a href="#" class="read-more">Read More...</a>
		</p>
	</section>

</article>
<!-- End Article -->

<!-- Start Article -->
<article class="feed-article">
	
	<aside class="article-featured-image">
		<img src="../images/feature-5.png">
	</aside>

	<section class="article-content">
		<h2>Denim Daze in Cheap Mondays	</h2>

		<p class="post-meta">by <a href="#">Scout Sixteen</a></p>

		<p>
			With the start of Spring comes lighter jackets and denim mixing for the perfect lightweight look. This pick from Cheap Monday is perfect for braving the cities streets in style.<br /><br />

			<a href="#" class="read-more">Read More...</a>
		</p>
	</section>

</article>
<!-- End Article -->

