<!-- div id="container" class="featured" ng-controller="FeaturedCtrl">
	<div ng-repeat="product in featured.products" class="item">
		<img src="{{product.product_image}}">
	</div>
</div -->
<div ng-controller="FeaturedCtrl">
    <div modal="productModal" close="closeModal()" options="opts">
        <div class="modal-header">
            <h4>{{modalProduct.product_name}}</h4>
        </div>
        <div class="modal-body">
           <img src="{{modalProduct.product_image}}">

           <div class="product-details">
              <section class="product-price">
                Price: {{modalProduct.price}}
              </section>

              <section class="product-designer">
                Designer: {{modalProduct.designer}}
              </section>
            </div>
        </div>
    </div>
  <div id="items">
    <section class="container" data-iso-repeat="featured.products" click="openModal()"></section>
  </div>
</div>
<script>
$(window).load(function(){
  setTimeout(function(){$('.container').isotope('reLayout');},1500);
  
  $(window).resize(function() {
    $('.container').isotope('shuffle');
  });

})
</script>
