<!-- div id="container" class="featured" ng-controller="FeaturedCtrl">
	<div ng-repeat="product in featured.products" class="item">
		<img src="{{product.product_image}}">
	</div>
</div -->
<div ng-controller="FeaturedCtrl">
    <div modal="productModal" close="close()" options="opts">
        <div class="modal-header">
            <h4>{{modalProduct.product_name}}</h4>
        </div>
        <div class="modal-body">
           {{modalProduct.price}}
           <img src="{{modalProduct.product_image}}">
        </div>
    </div>
  <div id="items">
    <section class="container" data-iso-repeat="featured.products" click="open()"></section>
  </div>
</div>

