<footer id="colophon" class="site-footer">

	<div class="wrap">

		<!-- Begin Footer Widgets -->
		<div class="footer-widgets">

			<!-- Begin Footer Widget 1 -->
				<section class="widget footer-widget-1">
				
					<h3>Newsletter</h3>

					<form>
						<input type="email" placeholder="Your Email Address">
					</form>
			
				</section>
			<!-- End Footer Widget 1 -->


			<!-- Begin Footer Widget 2 -->
				<section class="widget footer-widget-2">

					<h3>Services</h3>

					<ul>
						<li>Customer Service</li>
						<li>Refer-a-friend</li>
						<li>Wish List</li>
					</ul>

				</section>
			<!-- End Footer Widget 2 -->


			<!-- Begin Footer Widget 3 -->
				<section class="widget footer-widget-3">

					<h3>Information</h3>

					<ul>
						<li>About Us</li>
						<li>Careers</li>
						<li>Affiliate Program</li>
					</ul>

				</section>
			<!-- End Footer Widget 3 -->


			<!-- Begin Footer Widget 4 -->
				<section class="widget footer-widget-4">

					<h3>Connect</h3>

					<a href="facebook">
						<span class="icon facebook">&#62221;</span>
					</a>

					<a href="twitter">
						<span class="icon twitter">&#62218;</span>
					</a>

					<a href="pinterest">
						<span class="icon pinterest">&#62227;</span>
					</a>

					<a href="tumblr">
						<span class="icon tumblr">&#62230;</span>
					</a>

				</section>
			<!-- End Footer Widget 4 -->

		</div>
		<!-- End .wrap -->

	</div>
	<!-- End Footer Widgets -->

	<!-- Begin Footer Creds -->
		<section class="footer-creds">

			<div class="wrap">

				<div class="copyright">
					&copy; 2013 DJBG. All Rights Reserved.
				</div>

				<div class="share-links">
				</div>

			</div>

		</section>
	<!-- End Footer Creds -->

</footer>