<footer id="colophon" class="site-footer">

	<div class="wrap">

		<!-- Begin Footer Widgets -->
		<div class="footer-widgets">

			<!-- Begin Footer Widget 1 -->
				<section class="widget footer-widget-1">
				
					<h3>Newsletter</h3>

					<form>
						<input type="email" placeholder="Your Email Address">
					</form>
			
				</section>
			<!-- End Footer Widget 1 -->


			<!-- Begin Footer Widget 2 -->
				<section class="widget footer-widget-2">

					<h3>About Rewardrobe</h3>

					<p>
						This is a stupid section and we should change what goes here.
					</p>

				</section>
			<!-- End Footer Widget 2 -->


			<!-- Begin Footer Widget 3 -->
				<section class="widget footer-widget-3">

					<h3>Connect</h3>

        			<ul class="social">
          				<li class="facebook"><a href="/">Facebook</a></li>
          				<li class="twitter"><a href="/">Twitter</a></li>
          				<li class="rss"><a href="/">RSS</a></li>
        			</ul>

				</section>
			<!-- End Footer Widget 3 -->

		</div>
		<!-- End .wrap -->

	</div>
	<!-- End Footer Widgets -->

	<!-- Begin Footer Creds -->
		<section class="footer-creds">

			<div class="wrap">

				<div class="copyright">
					&copy; 2013 DJBG. All Rights Reserved.
				</div>

				<div class="share-links">
				</div>

			</div>

		</section>
	<!-- End Footer Creds -->

</footer>