<header id="masthead" class="site-header">

  <div class="wrap">

    <div class="logo">
      <a href="/rewardrobe/">
        <img src="images/logo.png">
      </a>
    </div>

    <section class="header-right">

    	<!-- Include Admin Bar -->
    		<section class="user-admin">
    			<ul>
    				<li><a href="/login.html">Login</a></li>
    				<li><a href="/create">Register</a></li>
    			</ul>

    			<div class="clear"></div>
    		</section>
    	<!-- End Include Admin Bar -->

		<!-- Include Header -->
    		<nav ng-include src="'/partials/navigation.html'" class="site-nav"></nav>
    	<!-- End Include Header -->

    	<div class="clear"></div>

    </section>
    <!-- End .header-right -->
<script>
  $(document).ready(function(){
    if(localStorage.user != 'undefined'){
    $('.user-admin li:eq(0)').text(localStorage.user);
    $('.user-admin li:eq(1)').html('<a href="/logout">Logout</a>');
    }
  })
</script>
</header>