<header id="masthead" class="site-header">

  <div class="wrap">

    <div class="logo">
      <a href="/rewardrobe/">
        <img src="images/logo.png">
      </a>
    </div>

    <section class="header-right">

    	<!-- Include Admin Bar -->
    		<section class="user-admin">
    			<ul>
    				<li>Login</li>
    				<li>Register</li>
    			</ul>

    			<div class="clear"></div>
    		</section>
    	<!-- End Include Admin Bar -->

		<!-- Include Header -->
    		<nav ng-include src="'/partials/navigation.html'" class="site-nav"></nav>
    	<!-- End Include Header -->

    	<div class="clear"></div>

    </section>
    <!-- End .header-right -->
<script>
  $(window).load(function(){
    if(sessionStorage.user){
    $('.user-admin li:eq(0)').text(sessionStorage.user);
    $('.user-admin li:eq(1)').remove();
    }
  })
</script>
</header>