<aside id="sidebar" class="sidebar">

	<section class="sidebar-widget">
		<h3>Featured Blogs</h3>
			<ul>
				<li><a href="http://thestylescribe.com">The Style Scribe</a></li>
				<li><a href="http://styledspottedsnapped.com">Styled Spotted Snapped</a></li>
				<li><a href="http://thedocndiva.com">The Doc n Diva</a></li>
			</ul>
	</section>

	<section class="sidebar-widget">
		<h3>Trending</h3>
			<ul>
				<li><a href="#">Chevron Stripes</a></li>
				<li><a href="#">Fashion Week</a></li>
				<li><a href="#">rewardStyle</a></li>
				<li><a href="#">Spring</a></li>
				<li><a href="#">Tribal Prints</a></li>
			</ul>
	</section>

</aside>