<script src='https://cdn.firebase.com/v0/firebase.js'></script>
<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase-auth-client.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
<h3>Successfully logged out...re-directing</h3>

<script>
// var myDataRef = new Firebase('https://rewardrobe.firebaseio.com/');
// var bloggerArray = [];

// myDataRef.on('value', function(snapshot) {
//   var users = snapshot.val();
//     for (i=0;i<users.length;i++){
//         $('#users').append('<li>'+users[i].name+'</li>')
//     }
// });

// $('#submit').click(function(){
// 	var nameVar = $('#nameInput').val();
// 	var tokenVar = $('#messageInput').val();

// 	bloggerArray.push({name: nameVar, token: tokenVar});
// 	myDataRef.set(bloggerArray);
//     location.reload(forceGet);

// })
sessionStorage.user = 'undefined';

var chatRef = new Firebase('https://rewardrobe.firebaseIO.com');
var authClient = new FirebaseAuthClient(chatRef, function(error, user) {
  if (error) {
    // an error occurred while attempting login
    alert('error');
  } else if (user) {
    // user authenticated with Firebase
    alert('User ID: ' + user.id + ', Provider: ' + user.provider);
  } else {
    // user is logged out
  }
});

authClient.logout();
window.location = "/";







</script>